@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Biryani:wght@700&family=Poppins:wght@300&display=swap');
* {
	padding: 0px;
	margin: 0 auto;
	box-sizing: border-box;
}
.border:hover {
    border: 1px solid black !important;
	background: #f3f3f3;
}
.border {
	border: 1px solid #999 !important;
}
.logo-name {
	font-weight: 900;
	color: #0a66c2;
	font-family: 'Biryani', sans-serif;
}
.logo-name:hover {
	color: #0a66c2;
}
.icon:hover {
	color: #0a66c2;
}
#basic {
	border: 1px solid #ccc;
	padding: 10px 25px 10px 25px;
	border-radius: 5px;
	box-shadow: 0px 0px 5px #ccc;
}
.forgot-pass {
	border: 1px solid #ccc;
	padding: 10px 25px 10px 25px;
	border-radius: 5px;
	box-shadow: 0px 0px 5px #ccc;
	width: 405px;
	background: none;
}
.text-danger {
	color: #8df307db !important;
	font-weight: 600;
	text-shadow: 0px 0px 3px white;
}
.pad {
	padding: 10px 20px 10px 10px;
}
.f-width {
	width: 100%;
	padding-right: 155px;
}
.sign-btn {
	border: none;
	background: #1f44cde8;
	font-size: 17px;
}
/* .show {
	top: 305px;
    left: 450px;
}
.show:hover {
	background: #d1cbcb26;
} */
.or div {
	background: #ccc;
	width: 165px;
	height: 1px;
}
.use a {
	text-decoration: none;
}
.use:hover a {
	color: blue !important;
    text-decoration-line: underline;
	text-decoration-style: 1px solid blue;
}
p.p-font {
	font-size: 8px;
}
#new {
	border: 1px solid #ccc;
	padding: 10px 25px 10px 25px;
	border-radius: 5px;
	box-shadow: 0px 0px 5px #ccc;
}
.none {
	display: none;
}
.bg-none {
	font-weight: 600;
	font-size: 14px;
}
.bg-none:hover {
	background: #d1cbcb26;
}
.clr {
	border: 1px solid blue;
	color: blue;
	font-weight: 600;
	padding: 14px 28px;
}
.clr:hover {
	border: 1px solid blue;
	color: blue;
	background: #cdcdef69;
}
.wel {
	font-size: 45px;
	color: #a17266;
}
.sign-in {
	background-image: url("../image/login-back.png");
	background-repeat: no-repeat;
	background-attachment: scroll;
	background-size: contain;
	background-position: right bottom;
}
/*------ header ------*/
.container {
	width: 1200px;
	padding: 0px;
}
body {
	/* background: #cccccc26; */
	font-family: poppins,san-serif;
}
.header {
	z-index: 999;
}
.icon {
	font-size: 40px;
	color: #0a66c2;
}
.text-primary {
	color: gray !important;
}
img.me {
	width: 30px;
	height: auto;
	border-radius: 50px;
}
span {
	display: block;
}
li a {
	text-decoration: none;
}
.bdr {
	border-right: 1px solid #ccc;
}
.position {
	top: 22%;
	right: 10%;
}
.position-x {
	top: 22%;
	right: 8%;
}
.ring {
	padding: 3px !important;
	background: white !important;
	border: 4px solid rgb(220,53,69) !important;
}
.font {
	font-size: 10px;
}
.sch {
	border: none;
	width: 100%;
	height: auto;
	padding: 5px 10px;
	border-radius: 2px;
	background: #eef3f8;
}
.vip {
	color: #9b7301;
	text-decoration-style: 1px solid #9b7301 !important;
	font-size: 12px;
	padding-left: 20px;
	padding-top: 5px;
}
.vip:hover {
	color: black;
	text-decoration-color: black;
}
.none {
	text-decoration: none;
}
.pt {
	padding-top: 6px;
}
.br-bottom {
	border-bottom: 2px solid transparent;
}
.br-bottom:hover {
	color: black;
}
.active {
	border-bottom: 2px solid black;
}
.active i {
	color: black !important;
}
.active a {
	color: black !important;
}
li:hover i {
	color: black !important;
}
li:hover span {
	color: black !important;
}
.hover:hover a {
	color: black !important;
}
.hover:hover i {
	color: black !important;
}
.hover:hover span {
	color: black !important;
}
.fs-6 {
	font-size: 13px !important;
}
/*------ script ------*/
.banner {
	padding-top: 25px;
}
.h-100 {
	border-radius: 5px;
	background: white;
	margin: 0 20px;
	border: 1px solid #ccc;
}
.aside {
	border-bottom: 1px solid #ccc;
}
.aside a:hover {
	background: #ccc;
}
#task {
	display: flex;
	flex-wrap: wrap;
	background: white;
	border-radius: 5px;
	padding-bottom: 8px;
	border: 1px solid #ccc;
}
.box {
    border: 1px solid #ccc;
    width: 234px;
    height: auto;
    border-radius: 10px;
	margin: 8px;
	overflow: hidden;
	position: relative;
	transition: all 0.4s ease;
}
.box:hover {
	box-shadow: 0px 2px 2px #8b8686;
	transition: all 0.4s ease;
}
.bnr-title {
	border: 1px solid #ccc;
}
.bnr-title p {
	font-size: 14px;
	color: #565555;
}
.bnr-title a {
	font-size: 15px;
	padding: 5px;
	color: #8b8686;
}
.bnr-title a:hover {
	background: #d3d0d080;
	border-radius: 3px;
}
.back-img {
	background-image: url("../image/back-img.png");
	background-position: top;
	background-repeat: no-repeat;
	background-size: cover;
	padding: 30px;
}
.box-img {
	position: absolute;
	top: 25px;
	left: 15px;
}
.box-img img {
	width: 65px;
	height: auto;
	border-radius: 50px;
}
.box-cont {
	padding: 35px 10px 0 10px;
}
.box-cont h3 {
	font-size: 18px;
	text-transform: capitalize;
	color: #0e0606;
	margin: 0px;
	padding-bottom: 10px;
}
.box-cont h4 {
	font-size: 16px;
	text-transform: capitalize;
	color: #605d5d;
	margin: 0px;
	padding-bottom: 10px;
}
.box-cont h6 {
	font-size: 12px;
	text-transform: capitalize;
	color: #565454f0;
	margin: 0px;
	padding-bottom: 20px;
}
.box button {
	text-transform: capitalize;
	color: blue;
	text-align: center;
	border: 1px solid blue;
	background: none;
	margin-bottom: 10px;
	padding: 5px;
	display: block;
	width: 100%;
	border-radius: 25px;
	transition: all 0.3s ease;
}
.box button:hover {
	outline: 1px solid blue;
	background: #b9def969;
	transition: all 0.3s ease;
}
.arrow {
	font-size: 15px;
	padding: 3px 4px;
}
.arrow:hover {
	background: #cccccc78 !important;
	border-radius: 3px;
}
.see {
	padding: 3px;
	border-radius: 5px;
}
.see:hover {
    background: #d3d0d080;
}
.aside ul li {
	list-style: none;
}
.box-title p,a {
	font-size: 14px;
}
.back {
	background: #04040482;
	border-radius: 50px;
	width: 33px;
	height: auto;
	padding: 15px;
	position: absolute;
	right: 12px;
	top: 10px;
}
.cancel:after {
	content: "";
	padding: 3px 3px;
	border-top: 2px solid white;
	border-left: 2px solid white;
	display: inline-block;
	position: absolute;
    top: 11px;
	left: 17px;
	transform: rotate(-45deg);
}
.cancel:before {
	content: "";
	padding: 3px 3px;
	border-bottom: 2px solid white;
	border-right: 2px solid white;
	display: inline-block;
	position: absolute;
    top: 11px;
	left: 8px;
	transform: rotate(-45deg);
}